# EmailJS Credentials
NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_emailjs_service_id
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_emailjs_public_key

# Google Analytics
NEXT_PUBLIC_GA_ID=your_google_analytics_id

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://www.benni.my.id
NEXT_PUBLIC_SHOW_LOGGER=false
